@import "../../styles/base";

.appbar {
  height: 80px;
  padding-top: 10px;
  padding-right: 2rem;
  padding-left: 2rem;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-cart {
      display: flex;
      align-items: center;
      margin-right: 5rem;

      .cartIcon {
        font-size: 5rem;
      }
    }

    &-cart-counter {
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      background-color: $primary;
      color: $white;
      border-radius: 50%;
      margin-left: 2.5rem;
    }
  }

  &__content-left {
    img {
      max-width: 150px;
      height: auto;
      width: auto;
    }
  }

  &__content-right {
    display: flex;
    align-items: center;

    .cursor-pointer {
      font-size: 5rem;
    }
  }
}
